html
    font-family $openSans
    
html, body
    width 100%
    height 100%
    
button
    border-radius 2px
    border none
    padding 1rem 2rem
    color #FFFFFF
    background #333333
    cursor pointer
    transition background 0.3s ease
    margin 0.3rem
    box-shadow 0px 0px 5px 0px rgba(0,0,0,0.3)
    
.container
    flexCenter()
    
.wrapper
    width $wrapperWidth
    height $wrapperHeight
    min-height 600px
    background brown
    padding 2rem
    display flex
    flexCenter()
    flex-direction column
    
.resultsWrapper
    display flex
    width 100%
    height 100%
    
section.resultsContainer
    display flex
    width 30%
    background goldenrod
    
#results, #resultTimes
    list-style none
    padding 0
    margin 0
    padding 1rem
    
.resultItem
    margin 0.25rem 0
    background lighten(goldenrod, 15)
    cursor pointer
    padding 0.25rem
    
section.mapContainer
    position relative
    width 100%
    display flex
    
// MODAL
#modalWrapper
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    background rgba(0,0,0,0.3)
    z-index 1
    display flex
    opacity 1
    transition opacity ease 0.1s

.modalContent
    border-radius 2px
    margin 2rem
    width 100%
    background #FFFFFF
    flexCenter()
    flex-direction column

.fadeOut
    animation 0.4s ease-in-out 0s fadeOut forwards
    
.fadeIn
    animation 0.4s ease-in-out 0s fadeIn forwards
        
.disabled, .disabled > *, #modalWrapper.disabled
    display none
    
.loadingIndicator
    background url('../images/loading.png')
    background-size cover
    background-position center center
    background-repeat no-repeat
    transition opacity linear 0.3s
    animation 1s linear 0s loadingIndicator infinite
    opacity 1
    
.loadingIndicator.hide
    opacity 0

.loadingIndicator.small
    width 20px
    height 20px
    
.loadingIndicator.large
    width 80px
    height 80px
    
@keyframes fadeOut
    0% 
        opacity 1
    99%
        opacity 0
    100%
        opacity 0
        
@keyframes fadeIn
    0% 
        opacity 0
    100%
        opacity 1
        
// animation 0.4s ease-in-out 0s loadingIndicator infinite
@keyframes loadingIndicator
    0% 
        transform rotate(0deg)
    100%
        transform rotate(360deg)
// MAP
#map
    background #FFFFFF
    width 100%
    
.userLocationWrapper
    flexCenter()
    flex-direction column
    margin 2rem
    
#searchForm
    display flex
    align-items flex-start

#searchBarWrapper, #searchField, #autocompleteWrapper
    min-width 500px
    
#searchBarWrapper
    position relative

#searchField, #submitButton
    height 3rem
    padding 0 1rem
    
#searchField, #submitButton, #autocompleteWrapper
    margin 1rem
    
#autocompleteWrapper, #searchField, #submitButton, .ui-autocomplete, .departureTimesWrapper, .modalContent
    border 1px solid #CCCCCC
    box-shadow 0px 0px 5px 0px rgba(0,0,0,0.3)
    
#searchField
    border-top-left-radius 2px
    border-bottom-left-radius 2px
    border-right 0
    margin-right 0

#submitButton
    border-top-right-radius 2px
    border-bottom-right-radius 2px
    border-left 0
    color #FFFFFF
    background #333333
    cursor pointer
    transition background 0.3s ease
    margin-left 0

#submitButton:hover
    background #444444

.ui-helper-hidden-accessible
    display none
    
.ui-autocomplete
    z-index 2
    list-style none
    margin 0
    padding 0
    background #FFFFFF
    width 500px

#autocompleteWrapper
    position absolute
    top 3rem
    left 0
    background #FFFFFF
    
#autocompleteList
    list-style none
    margin 0
    padding 0
    
.ui-menu-item
    padding 0.5rem 1rem
    cursor default

.ui-menu-item:hover
    background #DDDDDD
    
#autocompleteWrapper.hidden, #autocompleteWrapper.hidden > *
    display none
    
#viewRouteDetails h1
    margin 0
    margin-bottom 1.5rem
    text-align center
    
.departureTimesWrapper
    background rgba(100,100,100,0.05)
    padding 2rem
    margin 1rem
    
#departureTimes
    padding 0
    margin 0
    
.departureTime
    font-size 3rem
    padding 0.5rem
    list-style none
    color green
    min-width 400px
    display flex
    justify-content space-between
    border-bottom 1px solid #CCCCCC
    
.departureTime:last-of-type
    border none

.cantMakeIt
    color brown