@media (max-width: 767px)
    #searchBarWrapper, #searchField, .ui-autocomplete, #searchFieldGhost
        width 240px
        
    #modalInnerWrapper
        margin 0
        
    .departureTimesWrapper
        padding 2rem
        margin 0rem
    
    .departureTime
        width auto
        
    #viewRouteDetails h1
        margin-bottom 0.5rem
        font-size 1.8rem