//======================================
//=              COLOURS               =
//======================================


//======================================
//=              LAYOUT                =
//======================================

$wrapperWidth = 1400px
$wrapperHeight = 100%

//======================================
//=      FONTS AND HEADING SIZES       =
//======================================

$openSans = 'Open Sans', sans-serif